In [ ]:
import pandas as pd
import sqlalchemy
import time

In [20]:
df = pd.read_csv('../data/yellow_tripdata_2021-01.csv', nrows = 10000)

In [21]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [22]:
df.VendorID.unique()

array([1, 2])

In [5]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data'))
#very good option to create table

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [6]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [7]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [8]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [9]:
engine = sqlalchemy.create_engine('postgres://root:root@localhost:5432/ny_taxi')

In [10]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

The file is big, so we will download it to SQL in chunks

In [30]:
#Create table
df.head(0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'replace')

In [31]:
#Create small df
df_s = pd.read_csv('../data/yellow_tripdata_2021-01.csv', iterator = True, chunksize = 50000)
#split big file and load to df

In [32]:
#loop to download sql
while True:
    t_start = time.time()
    df = next(df_s)
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
    df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')
    t_finish = time.time()
    print(f'Another chunk added in time: {t_finish - t_start}')

Another chunk added in time: 114.33202624320984
Another chunk added in time: 117.0650417804718
Another chunk added in time: 154.56890678405762
Another chunk added in time: 128.42453598976135
Another chunk added in time: 112.6032350063324
Another chunk added in time: 116.52156805992126
Another chunk added in time: 116.94667387008667
Another chunk added in time: 109.81951189041138
Another chunk added in time: 115.93813300132751
Another chunk added in time: 109.32807493209839
Another chunk added in time: 106.14119005203247
Another chunk added in time: 110.41444706916809
Another chunk added in time: 111.75164294242859
Another chunk added in time: 116.3481719493866
Another chunk added in time: 114.98819708824158
Another chunk added in time: 112.05723190307617
Another chunk added in time: 116.11576104164124
Another chunk added in time: 114.32307004928589
Another chunk added in time: 113.2253041267395
Another chunk added in time: 110.89210891723633
Another chunk added in time: 109.55045104026794
Another chunk added in time: 111.54730200767517
Another chunk added in time: 112.30805993080139
Another chunk added in time: 112.54773497581482
Another chunk added in time: 112.66093802452087

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Another chunk added in time: 108.5701379776001
Another chunk added in time: 109.33286190032959
Another chunk added in time: 45.625837087631226

StopIteration: